<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/components/header.css">
    <link rel="stylesheet" href="../css/components/nav.css">
    <link rel="stylesheet" href="../css/components/main_content.css">
    <link rel="stylesheet" href="../css/components/popup.css">
</head>

<body>
    <div class="header">
        <div class="header-logo">
            <img class="toggle" src="../assets/image/toggle.png" alt="">
            <img class="logo" src="../assets/logo/cukcuk-logo.png" alt="">
        </div>
        <div class="header-profile">
            <div class="brach">Chi nhánh Hà Nội </div>
            <img class="img-info" src="../assets/icon/info-48.png" alt="">
            <div class="name">Ngô Minh Hiếu</div>
            <img class="img-option" src="../assets/icon/option.png" alt="">
        </div>
    </div>
    <div class="nav">
        <a href="#" class="nav-item">
            <img src="../assets/icon/dashboard.png" alt="">
            <div>Trang chủ</div>
        </a>
        <a href="#" class="nav-item">
            <img src="../assets/icon/report.png" alt="">
            <div>Báo cáo</div>
        </a>
        <a href="../layout/employee.html" class="nav-item nav-item-active">
            <img src="../assets/icon/dic-employee.png" alt="">
            <div>Nhân viên</div>
        </a>
        <a href="#" class="nav-item">
            <img src="../assets/icon/setting.png" alt="">
            <div>Cài đặt</div>
        </a>
    </div>
    <div class="main-content">
        <div class="table-title">
            <h1 class="title">Quản lý nhân viên</h1>
            <button class="button-add" data-id = "0">
                <img class="img-button-add" src="../assets/icon/add-male-user-64.png" alt="">
                Thêm mới
            </button>
        </div>

        <div class="table-container">
            <div class="table-search">
                <div class="search-container">
                    <input type="text" id="search-input" class="search-input" placeholder="Tìm kiếm trong danh sách">
                    <img class="search-icon" src="../assets/icon/search.png" alt="">
                </div>
                <button class="button-img" style="margin-left: auto;"><img class="img img-export" src="../assets/icon/export-excel-50.png" alt=""></button>
                <button class="button-img"><img class="img img-refresh" src="../assets/icon/icons8-cycle-24.png" alt=""></button>
            </div>
            <div class="table-content">
                <table class="table" id="tblEmployee">
                    <colgroup>
                        <col style="width: 5%;">
                        <col style="width: 10%;">
                        <col style="width: 17%;">
                        <col style="width: 7%;">
                        <col style="width: 10%;">
                        <col style="width: 18%;">
                        <col style="width: 33%;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã nhân viên</th>
                            <th>Họ và tên</th>
                            <th>Giới tính</th>
                            <th>Ngày sinh</th>
                            <th>Địa chỉ email</th>
                            <th>Địa chỉ</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
            <div class="page-container">
                <div class="total-page">Tổng: 0</div>

                <div class="page">
                    <div class="text-page">Số bản ghi/trang</div>
                    <select class="dropdown-page" id="dropdown-page">
                        
                    </select>
                    <button class="button-img" id="arrow-left"><img class="arrow-left" src="../assets/icon/arrowhead-left-outline.png" alt=""></button>
                    <button class="button-img" id="arrow-right"><img class="arrow-right" src="../assets/icon/arrowhead-left-outline.png" alt=""></button>
                </div>
            </div>
        </div>
    </div>

    <div id="popup" class="popup">
        <div class="popup-content">
            <div class="popup-header">
                <h2>Notification Title</h2>
                <button><img src="../assets/icon/close-48.png" class="close-btn"></img></button>
            </div>
            <div class="popup-body">
                <p></p>
            </div>
            <div class="popup-footer">
                <button class="close-popup-btn">Xác nhận</button>
            </div>
        </div>
    </div>

</body>

<script src="../js/employee/employee.js"></script>

</html>