/* global.css */
/* Reset default margin and padding */
body,
h1,
h2,
h3,
p,
div,
img,
ul,
li,
button,
input,
table,
th,
td {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
}

/* Additional global styles can be placed here */
