/* modal.css */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 1000px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

/* Additional styles specific to modal content */
.modal-content h2 {
    font-size: 24px;
    font-weight: 500;
}

.modal-content input {
    height: 20px;
}

.modal-content .row_1,
.modal-content .row_2,
.modal-content .row_3,
.modal-content .row_4 {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.modal-content .info_1,
.modal-content .info_2 {
    width: 50%;
}

.modal-content .code_name,
.modal-content .dob_gender,
.modal-content .id_date {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}


.modal-content .code,
.modal-content .name,
.modal-content .position,
.modal-content .department,
.modal-content .dob,
.modal-content .gender,
.modal-content .id,
.modal-content .date,
.modal-content .address,
.modal-content .phone,
.modal-content .tel,
.modal-content .email,
.modal-content .bank_account_number,
.modal-content .bank_account_name,
.modal-content .branch {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
}

.modal-content .issued {
    display: flex;
    flex-direction: column;
    width: calc(100% - 10px);
    margin-left: 10px;
}

.modal-content .option {
    display: flex;
    align-items: center;
}

.modal-content input {
    height: auto;
    margin-right: 10px;
    border-radius: 3px;
    padding: 8px;
    border: 1px solid #ccc;
}

.modal-content .option label {
    margin-right: 10px;
}

.modal-content .option input {
    margin-right: 5px;
}

.modal-content label {
    font-weight: 400;
    font-size: 14px;
}

.modal-content .buttons {
    display: flex;
    justify-content: flex-end;
}

.modal-content button {
    margin-top: 10px;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 120px;
    height: 39px;
    margin-left: 20px;
}

.modal-content button[type="submit"] {
    background-color: #50B83C;
    color: white;
}

.modal-content button[type="button"] {
    background-color: #f44336;
    color: white;
}
